.login-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #121212; /* Cor de fundo escura */
    color: white; /* Cor do texto branca */
    padding: 20px;
  }
  
  .login-box {
    background-color: #393E46; /* Cor de fundo do box de login */
    padding: 40px;
    border-radius: 10px;
    width: 300px; /* Largura do box de login */
    text-align: center;
    display: flex; /* Ativa o flexbox */
    flex-direction: column; /* Organiza os itens em coluna */
    align-items: center; /* Alinha os itens ao centro horizontalmente */
  }
  
  .logo {
    width: 100px; /* Ajuste o tamanho da logo conforme necessário */
    margin-bottom: 20px;
  }
  
  .login-title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .error-message, .loading-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .login-button {
    background-color: #00ADB5; /* Cor de fundo do botão */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .login-button:hover {
    background-color: #007788; /* Cor mais escura ao passar o mouse */
  }
  
  .image-container {
    width: 40%; /* Largura da área da imagem */
  }
  
  .login-image {
    width: 100%;
    height: auto;
  }
  