.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: white; /* Fundo branco */
    color: black; /* Cor do texto preta */
    padding: 20px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 100px; /* Margem superior para posicionar o texto mais acima */
    margin-bottom: 40px; 
  }
  
  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centraliza os botões horizontalmente */
    width: 60%; /* Reduz a largura do container para centralizar mais */
    margin-top: 100px; /* Aumenta o espaçamento superior */
  }
  
  .button {
    background-color: #007bff;
    color: white;
    padding: 20px 30px; /* Aumenta o padding vertical e horizontal */
    border: none;
    border-radius: 5px;
    font-size: 18px; 
    cursor: pointer;
    transition: background-color 0.3s;
    flex: 1;
    margin: 0 10px;
    text-align: center;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .buttonText {
    display: flex; /* Centraliza o texto do botão verticalmente e horizontalmente */
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .botao-logoff {
    position: absolute;
    top: 20px; /* Ajuste a distância do topo conforme necessário */
    left: 20px; /* Ajuste a distância da esquerda conforme necessário */
    background-color: #dc3545; /* Cor de fundo vermelha para o botão de logoff */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .botao-logoff:hover {
    background-color: #c82333; /* Cor de fundo mais escura ao passar o mouse */
  }
  